/* Formato del cuerpo */
body {
    font-family: Arial, sans-serif;      
    line-height: 1.5;                    
    background-color: #f3e9df;           
    color: #4b3b2b;                     
    margin: 20px;                       
    max-width: 800px;                   
    margin-left: auto;                  
    margin-right: auto;                 
}

/* Formato para el header */
header {
    text-align: center;                 
    margin-bottom: 30px;               
}

/* Formato para títulos h1 en el header */
header h1 {
    margin-bottom: 5px;                
    font-size: 2.2em;                 
    color: #a0522d;                   
}

/* Estilo para párrafos en el header */
header p {
    margin: 3px 0;                    
    font-size: 1em;                  
    color: #6e4b3a;                  
}

/* Estilo para imagen en el header */
header img {
    margin-top: 15px;                 
    border-radius: 50%;              
    border: 2px solid #a0522d;       
}

/* Estilos para cada sección */
section {
    background-color: #fff8f0;        
    padding: 15px 20px;              
    margin-bottom: 20px;             
    border-radius: 8px;              
    box-shadow: 0 0 7px rgba(165, 105, 79, 0.2);  
}

/* Estilo para subtítulos de sección */
section h2 {
    border-bottom: 2px solid #a0522d; 
    padding-bottom: 5px;             
    margin-bottom: 15px;             
    color: #a0522d;                 
    font-size: 1.5em;               
}

/* Estilos para listas no ordenadas */
ul {
    list-style-type: disc;           
    padding-left: 20px;             
}

/* Estilo para cada ítem de lista */
ul li {
    margin-bottom: 10px;            
}

/* Si dentro de un ítem hay párrafos */
ul li p {
    margin: 5px 0 0 0;             
}

/* Estilo para textos en negrita */
strong {
    color: #7b4a29;                
}

/* Estilo para textos en cursiva */
em {
    color: #a67c52;                
}